
<div class="col-md-4 col-md-offset-4">
  <div class="alert alert-danger" *ngIf="errorMsg?.length > 0">
    <strong>{{errorMsg}}</strong>
  </div>
  <div class="alert alert-success" *ngIf="succMsg?.length > 0">
    <strong>{{succMsg}}</strong>
  </div>


  <form [formGroup]="form" (ngSubmit)="signupUserAction()">
    <div class="form-group">
      <label for="username">User Name:</label>
      <input formControlName="username" type="text" class="form-control" id="username">
      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
        <div *ngIf="username.errors.required">User Name is required.</div>
        <div *ngIf="username.errors.minlength">User Name should be minimum {{ username.errors.minlength.requiredLength }} characters.</div>
      </div>
      </div>
      <div class="form-group">
      <label for="pwd">Password:</label>
      <input formControlName="password" type="password" class="form-control" id="pwd">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        <div *ngIf="password.errors.required">password is required.</div>
        <div *ngIf="password.errors.minlength">password should be minimum {{ password.errors.minlength.requiredLength }} characters.</div>
      </div>
    </div>
    <button class="btn btn-primary" style="width: 145px; float: right; height: 45px;" [disabled]="!form.valid">Sign Up</button>
  </form>


</div>
