<div class="col-md-4 col-md-offset-4">
  <div class="alert alert-danger" *ngIf="errorMsg?.length > 0">
    <strong>{{errorMsg}}</strong>
  </div>


  <form #ff="ngForm" (ngSubmit)="signupUserAction()">
    <div class="form-group">
      <label for="username">User Name:</label>
      <input required ngModel #username="ngModel" type="text" class="form-control" id="username" name="username"
        [(ngModel)]="signupUserData.username">
      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
        <div *ngIf="username.errors.required">User Name is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input required ngModel #pwd="ngModel" type="password" class="form-control" id="pwd" name="password"
        [(ngModel)]="signupUserData.password">
      <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" class="alert alert-danger">
        <div *ngIf="pwd.errors.required">password is required.</div>
      </div>
    </div>
    <button class="btn btn-primary" [disabled]="!ff.form.valid" style="width: 145px; float: right; height: 45px;">Sign
      Up</button>
  </form>
</div>
