<div class="d-md-flex half">
    <div class="bg" style="background-image: url('../../../assets/images/login_bg.jpg');"></div>

    <div class="contents">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                    <div class="form-block mx-auto">
                        <div class="text-center mb-5">
                            <h3>Login to <strong>ABC Bank</strong></h3>
                        </div>

                        <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">

                            <div class="form-group first">
                                <label for="username">Username</label>

                                <p [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">

                                    <input type="text" class="form-control" placeholder="UserName" id="username" formControlName="username">

                                </p>
                            </div>

                            <div *ngIf="isSubmitted && formControls.username.errors" class="help-block">
                                <div *ngIf="formControls.username.errors.required">Username is required</div>
                            </div>

                            <hr>
                            <div class="form-group last mb-3">
                                <label for="password">Password</label>

                                <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
                                    <input type="password" placeholder="Password" formControlName="password" class="form-control">
                                </p>

                            </div>

                            <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                                <div *ngIf="formControls.password.errors.required">Password is required</div>
                            </div>

                            <div class="d-sm-flex mb-5 align-items-center">
                                <!-- <label class="control control--checkbox mb-3 mb-sm-0"><span class="caption">Remember
                    me</span>
                  <input type="checkbox" checked="checked" />
                  <div class="control__indicator"></div>
                </label> -->
                                <span class="ml-auto">
                  <h2><a routerLink="/register" class="new-sign-up">Sign Up for New Account</a></h2>
                </span>
                            </div>

                            <input type="submit" value="Log in" class="btn btn-block btn-primary">

                        </form>

                        <div *ngIf="[invalidcredentials]" style="color: red; font-size: 14px;">
                            <div [hidden]="invalidcredentials === false">
                                Invalid credentials
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>